<div class="container col-xxl-10">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-12 col-lg-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit exercitationem, nostrum quasi laudantium
            eligendi voluptatem corporis repellendus quaerat est dicta, at, dolores totam illo iste neque ad mollitia et
            quas!
        </div>
        <div class="col-lg-6">
            <div id="carouselExampleRide" class="carousel slide carousel-fade" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/img_project/dashboard_st.png"
                            class="d-block w-100" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="../../../assets/img_project/bill_st.png"
                            class="d-block w-100" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="../../../assets/img_project/product_st.png"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img_project/table-user_st.png"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>


    </div>
</div>