<div class="container col-xxl-10 px-4 py-5">
    <table class="table caption-top">
        <caption>ตารางผู้ใช้งานทั้งหมด</caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>11</td>
          </tr>
    
        </tbody>
      </table>

</div>