header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 1000;
   
    backdrop-filter: blur(100px); /* ทำให้เบลอ */
  }
  
  * {
    margin: 0; /*ลบระยะห่างด้านบนออก*/
    padding: 0; /*ลบระยะห่างด้านซ้ายออก*/
    box-sizing: border-box;
}

.container {
 
    margin: 0 auto;
}

nav {
    background-color: #fff;
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    
}

.nav-wrapper .logo h3 {
    /* color: #333; */
} 

.menu {
    display: flex; /*ให้เป็นแนวนอน*/
    list-style: none; /*ลบเครื่องหมายจุดด้านหน้า*/
}

.menu li {
    margin-left: 20px; /*ระยะห่างของเมนู*/
    text-align: center;
}

.menu li a {
    color: #333; /*สีตัวหนังสือเมนูสีขาว*/
    text-decoration: none; /*ลบเส้นใต้เมนูออก*/
}
main {
    padding: 2rem 0;
}



/*CSS Hamburger Menu*/

.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

 
  @media only screen and (min-width: 500px){
    .ham-menu {
        display: none;
    }
  }

@media only screen and (max-width: 500px) {
    .menu {
        display: none;
    }

    .nav-wrapper {
      padding: 1rem;  
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        margin:1rem 0;
        padding: 1rem 0.5rem;
        transition: 0.3s;
        /* padding-top:1rem;
        border-top: 1px solid #ccc; */
    }

    .menu li:hover {
        background-color: #dbdbdb;
    }

    .menu-active {
        display: block;
    }
  
}