
<div id="main">
    <div class="container col-xxl-10">

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="row">
                <div class="col-xxl-4">
                    <a routerLink="/table-user" style="text-decoration: none;">
                        <div class="card" style="height: 170px; justify-content: center; justify-items: center;">


                            <div class="row g-0">
                                <div class="card-body col-md-8">
                                    <h5 class="card-title">จำนวนผู้ใช้งานทั้งหมด</h5>
                                    <h3>*** คน</h3>
                                    <p class="card-text" style="color: gray;"><small class="text-body-secondary">ดูตารางผู้ใช้งาน</small></p>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <div class="icon" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                                              </svg>
                                          </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </a>
              
                </div>
                <div class="col-xxl-4">
                    <div class="card">
                        <div class="card-body" style="height: 170px; justify-content: center; justify-items: center;">
                            <div class="row g-0">
                                <div class="card-body col-md-8">
                                    <h5 class="card-title">จำนวนผู้ใช้งานทั้งหมด</h5>
                                    <h3>1 คน</h3>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <div class="icon" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-box2-fill"
                                              viewBox="0 0 16 16">
                                              <path
                                                d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6l.5.667Z" />
                                            </svg>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="card">
                        <div class="card-body" style="height: 170px; justify-content: center; justify-items: center;">
                            <div class="row g-0">
                                <div class="card-body col-md-8">
                                    <h5 class="card-title">จำนวนผู้ใช้งานทั้งหมด</h5>
                                    <h3>1 คน</h3>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <div class="icon" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-box2-fill"
                                              viewBox="0 0 16 16">
                                              <path
                                                d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6l.5.667Z" />
                                            </svg>
                                          </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="row">
                <div class="col-xxl-6">
                    <div class="card" style="height: 300px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="card" style="height: 300px; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>